@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  background-color: #ffffff; /* Light background color */
  color: #000000; /* Light text color */
  font-family: 'Arial', sans-serif;  
}
/* global.css */
.dark-body{
  background-color: #1a1a1a;
  color: #ffffff;
}

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 32px;
  margin:auto;
  text-align: center;
}

h2 {
  color: gray;
  font-size: 20px;
  margin:auto;
  text-align: center;
}

h3 {
  margin-top: 12px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  margin:auto;
  text-align: center;
}
h4 {

  color: #fff;
  font-size: 20px;
  margin:auto;
  text-align: center;
}
h5 {

  color: #fff;
  font-size: 20px;
  margin:auto;
  text-align: center;
}

h6 {
  color: #fff;
  font-size: 20px;
  margin:auto;
  text-align: center;
}

button
{
  box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:5px;
	border:0.5px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin: auto;
}

#myButton
{
  box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:5px;
	border:0.5px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin: auto;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
