@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  background-color: #ffffff; /* Light background color */
  color: #000000; /* Light text color */
  font-family: 'Arial', sans-serif;  
}
/* global.css */
.dark-body{
  background-color: #1a1a1a;
  color: #ffffff;
}
